<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- <link rel="stylesheet" href="fonts.googleapis.com/css?family=Cormorant+SC"> --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    {{!-- <link rel="stylesheet" type="text/css" href="../../public/assets/css/reset.css"> --}}
     <link rel="stylesheet" href="assets/css/style.css">
    <title>Ubu Scraper</title>
</head>
<body>
 
    {{{ body }}}
 
</body>
</html>